@tailwind base;
@tailwind components;
@tailwind utilities;

#home{
    background-image: url("https://i.imgur.com/vThlO1f.jpg");
    height: 100dvh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    background-color: black;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}